version: '3.8'

services:
  rag-inference:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        RETRIEVER_SERVICE_URL: http://localhost:8084 # You can change this to match your retriever config
        INFERENCE_SERVICE_URL: http://localhost:11434
        MODEL_NAME: granite3.3:2b
    network_mode: "host"
    ports:
      - "8001:8001"  # Host:Container
    environment:
      - RETRIEVER_SERVICE_URL=http://localhost:8084
      - INFERENCE_SERVICE_URL=http://localhost:11434
      - MODEL_NAME=granite3.3:2b

  frontend:
    image: rag-frontend-prod:latest 
    ports:
      - "8080:3000"  
    environment:
      - BACKEND_URL=http://localhost:8001  
    depends_on:
      - rag-inference

